{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "AppDb": "Server=localhost;Database=IntexDev;Trusted_Connection=True;TrustServerCertificate=True"
  },
  "Cors": {
    "AllowedOrigins": [
      "http://localhost:5173",
      "https://YOUR-SWA.2.azurestaticapps.net"
    ]
  },
  "Jwt": {
    "Key": "CHANGE_ME_MIN_32_CHARS_RANDOM_SECRET_KEY",
    "Issuer": "intex-w26",
    "Audience": "intex-w26-web"
  },
  "LighthouseImport": {
    "AutoImportIfEmpty": true,
    "SyncBeforeSeed": true,
    "SourceDirectory": ""
  },
  "Seed": {
    "DemoData": true,
    "SyncPasswords": false,
    "ClearLockouts": false,
    "AdminEmail": "admin@example.com",
    "AdminPassword": "CHANGE_ME_12+chars_Aa1!",
    "EmployeeEmail": "employee@example.com",
    "EmployeePassword": "CHANGE_ME_12+chars_Aa1!",
    "DonorEmail": "donor@example.com",
    "DonorPassword": "CHANGE_ME_12+chars_Aa1!",
    "Accounts": []
  }
}
